:root {--book-size: 28vw;}

.sngl-bk-main,
.sngl-bk-sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
  }

.sngl-bk-main__cover-title {
    align-self: center;
  }
  
  .sngl-bk-main__cover-title h3 {
    font-size: 14px;
  }
  
  .sngl-bk-main__cover-title img {
    width: calc(var(--book-size) + 40vw);
  }
  
  .sngl-bk-main__dscrpt h5 {
    font-size: 20px;
    margin: 0;
  }

  .sngl-bk-main__dscrpt p {
    margin: 10px 20px 20px 5px;
  }
  
  .sngl-bk-sub {
    flex-direction:column;
    margin: 20px 0;
  }

  .sngl-bk-sub p{
    margin: 2px;
  }

  .book-single-container {
    padding: 0 2vw;
  }

  @media (min-width: 768px) {
    .sngl-bk-container {
      min-height: 100vh;
    }

  .sngl-bk-main__cover-title img {
    width: calc(var(--book-size) + 10vw);
  }

  .sngl-bk-main__cover-title h3 {
    font-size: 18px;
  }

  .sngl-bk-main__cover-title button {
    font-size: 14px;
  }

  .sngl-bk-main__dscrpt {
    flex: 2;
    margin-left: 30px;
  }

  .sngl-bk-main__dscrpt p {
    position: absolute;
    font-size: 16px;
    margin-right: 30px;
  }
}

@media (min-width: 961px) {

    .sngl-bk-main__cover-title {
        align-self: flex-start;
      }
    
      .sngl-bk-main__cover-title h3 {
        font-size: 20px;
      }
    
      .sngl-bk-main__cover-title button {
        font-size: 16px;
      }
    
      .sngl-bk-main__dscrpt p {
        font-size: 17px;
        margin-right: auto;
        max-width: 60vw;
      }
    
}

@media (min-width: 1281px) {

      .book-single-container .book-container__description {
        min-width: 100%;
      }
}